/*------------ GENERAL STYLES -------------*/
ol, ul {
    list-style: none;
}
a {
    color: #f53d54;
}
/*------------------------------------- SITE HEADER ---------------------------------------*/

.jumbotron{
    background: url("../images/bg-header.jpg")
}

.brand {
    margin: 30px 0 30px;
    text-align: center;
    color: #ffffff;
}


.brand .wrap {
display: inline-block;
text-align: left;
}

.brand h1 a {
    display: block;
    text-transform: uppercase;
    font: 600 116px/116px 'Open Sans', sans-serif;
    word-spacing: -9px;
    text-decoration: none;
    color: white;
}

.brand .slogan {
    display: block;
    margin-left: 5px;
    margin-top: -5px;
    font: 300 22px/22px 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: white;
}

.brand  .glyphicon.glyphicon-facetime-video{
    font-size: 120px;
    top: 17px;
    right: 10px;
    color: #f53d54;
}

/*---------------------- BRAND MEDIA ---------------------*/

@media (max-width: 767px) and (min-width: 480px) {
    .brand h1 a {
        font-size: 65px;
    }
    .brand .glyphicon.glyphicon-facetime-video{
        font-size: 75px;
        top: 14px;
        right: 3px;
    }
    .brand .slogan {
        margin-left: -2px;
        margin-top: -33px;
        font: 300 18px/18px 'Open Sans', sans-serif;
    }
}


@media (max-width: 479px) {
    .brand h1 a {
        font-size: 42px;
    }

    .brand .glyphicon.glyphicon-facetime-video {
        font-size: 48px;
        top: 9px;
        right: 0;
    }
    .brand .slogan {
        margin-left: 0;
        margin-top: -37px;
        font: 300 14px/0 'Open Sans', sans-serif;
    }

}

/*-------------------------- FOOTER ---------------------------*/
footer {
    background: #31353d;
    padding: 95px 0 95px;
    color: #545b68;
}

footer .footer p {
    font: 400 15px/20px 'Open Sans', sans-serif;
}

footer .marker.map:before {
    content: "\f041";

}
footer .marker{
    font-family: FontAwesome, Arial;
    position: absolute;
    color: #f53d54;
    font-size: 35px;
    left: 10px;
    top: -7px;
}
footer .marker.phone:before {
    content: "\f10b";
}
footer .social-list li {
    float: left;
}
footer .social-list li + li {
    margin-left: 9px;
}

footer .social-list a {
    display: inline-block;
    width: 34px;
    height: 34px;
    color: #ffffff;
    background: #22272b;
    text-align: center;
    font: normal 18px/36px 'FontAwesome';
    border-radius: 17px;
    text-decoration: none;
}
footer .social-list a:hover {
    color: #ffffff;
    background: #f53d54;
}

footer .footer_description{
    position: relative;
    left: 40px;
}


/*---------------- FOOTER MEDIA --------------*/

@media (max-width: 767px) {
    .footer_description {
        display: inline-block;
        text-align: left;
        padding-bottom: 40px;
    }


    footer .social-list {
        margin: -35px 0 35px 0;
    }
}

@media (max-width: 767px) and (min-width: 480px) {
    footer .container{
    }
}


@media (max-width: 479px) {
    footer .container{
    }

}
